input {
  // width: 20%;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  padding: 0px 10px;
  margin: 2% 0%;
}
input:focus {
  outline: none;
}
.debounce {
  // margin-right: 10%;
}

@media all and (max-width: 576px) {
  input {
    width: 38%; // for 1px*4 border
  }
}
